<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="appmenucontainer">
    <div class="appMenu">
        //Icon goes here//
        <p class="menu-header">Home</p>
    </div>
    <div class="appMenu">
        //Icon goes here//
        <p class="menu-header">Services</p>
    </div>
    <div class="appMenu">
        //Icon goes here//
        <p class="menu-header"></p>
    </div>
    <div class="appMenu">
        //Icon goes here//
        <p class="menu-header">Visit My Company</p>
    </div>
</div>