<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="appmenucontainer">
    <nav class="app-menu">
      <ul>
        <li class="menu-header">Visit My Company</li>
        <li>
          <a href="/pages/About-Us/About-Us.html">
            <i class="fas fa-users"></i> About Us
          </a>
          <ul class="submenu">
            <li><a href="/pages/About-Us/About-Us.html">Our Story</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>