<!DOCTYPE html>
<html lang="en">
<div class="center">
  <form action="/submit" method="post">
    <label for="appointment">Let's Connect!</label>
    <input type="text" id="appointment" name="appointment" placeholder="Select date and time" required>

    <input type="submit" value="Book Appointment"> <a href="https://www.linkedin.com/in/brent-warf-867b1667/" target="_blank" rel="noopener noreferrer">Connect with me on LinkedIn</a>
  </form>

  <!-- Flatpickr JS -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr("#appointment", {
      enableTime: true,
      dateFormat: "m-d-Y H:i",
      minDate: "today"
    });
  </script>
</div>
</html>
