
<section class="center">
    <img class="logo" src="/img/logo/whiteLogo.webp" alt="Warf Designs LLC Logo" aria-label="Warf Designs LLC Logo"> 
    <p>Copyright 2025 | Built with &#10084; by Warf Designs LLC</p>
    <em>A Christian Owned and Operated Business</em>
    <a href="/accessibility-policy.html">Accessibility Policy</a>
    <a href="/privacy-policy.html">Privacy Policy</a>
</section>
<section class="center">
</section>
<section class="center">
    <script defer async src='https://cdn.trustindex.io/loader.js?f2a805d49e2247534c2688b9033'></script>
</section>
