<div class="menucontainer">
    <nav class="menu">
        <ul>
            <li><a href="/pages/About-Us.html">About Us</a></li>
            <li><a href="/pages/Contact-Us.html">Contact Us</a></li>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/Portfolio/index.html">Portfolio</a></li>
            <li class="has-submenu">
                <a href="/pages/Services/index.html">Services</a>
                    <ul class="submenu">
                        <li><a href="/pages/Services/Computer-Services/index.html">Computer Services</a></li>
                        <li><a href="/pages/Services/Video-and-Film-Digitization/index.html">Digitizing Videos and Film</a></li>
                        <li><a href="/pages/Services/Computer-Services/Business/msp-service.html">MSP Services</a></li>
                        <li><a href="/pages/Services/CRM/index.html">CRM</a></li>
                        <li><a href="/pages/Services/Videography/index.html">Videography</a></li>
                        <li><a href="/pages/Services/Website-Design-and-Development/">Website Design</a></li>
                        <li><a href="/pages/Services/Website-Hosting/index.html">Website Hosting</a></li>
                        <li><a href="/pages/Services/WordPress-Plugins/index.html">WordPress Plugins</a></li>
                    </ul>
            </li>
            <li id="HostingLogin" class="HostingLogin" style="display:none;"><a href="https://www.host.warfdesigns.com">Login</a></li>
        </ul>
    </nav>
</div>
