<div class="menucontainer">
  <nav class="menu">
    <ul>
        <li><a href="pages/About-Us.html">About Us</a></li>
        <li><a href="pages/Contact-Us.html">Contact Us</a></li>
        <li><a href="/index.html">Home</a></li>
        <li><a href="pages/View-Our-Work/index.html">Portfolio</a></li>
        <li class="has-submenu">
            <a href="pages/Services.html">Services</a>
                <ul class="submenu">
                    <li><a href="pages/Services/Computer-Services/index.html">Computer Services</a></li>
                    <li><a href="pages/Services/Digitizing-Services/index.html">Digitizing Videos and Film</a></li>
                    <li><a href="pages/Services/Graphic-Design/index.html">Graphic Design</a></li>
                    <li><a href="pages/Services/MSP-Services/index.html">MSP Services</a></li>
                    <li><a href="pages/Services/Real-Estate/index.html">Real Estate</a></li>
                    <li><a href="pages/Services/Security-Cameras/index.html">Security Cameras</a></li>
                    <li><a href="pages/Services/Videography/index.html">Videography</a></li>
                    <li><a href="pages/Services/Web-Design.html">Web Design</a></li>
                    <li><a href="pages/Services/Website-Hosting/index.html">Website Hosting</a></li>
                    <li><a href="pages/Services/WordPress-Plugins/index.html">WordPress Plugins</a></li>
                </ul>
        </li>
        </ul>
    </nav>
</div>
