
    <div class="menucontainer">
        <nav class="menu">
            <ul>
                <li><a href="pages/Services.html">Services</a></li>
                <ul>
                    <li><a href="pages/Services/Web-Design.html">Web Design</a></li>
                    <li><a href="pages/Services/Website-Hosting/index.html">Website Hosting</a></li>
                    <li><a href="pages/Services/SEO.html">SEO</a></li>
                    <li><a href="pages/Services/Marketing.html">Marketing</a></li>
                </ul>
                    <li><a href="pages/Portfolio.html">Portfolio</a></li>
                    <li><a href="pages/About-Us.html">About Us</a></li>
                    <li><a href="pages/Contact-Us.html">Contact Us</a></li>
                    <li><a href="/pages/About-Us/About-Us.html">About Us</a></li>
                    <li><a href="/pages/About-Us/About-Us.html">Our Story</a></li>
                
            </ul>
        </nav>
    </div>